<!DOCTYPE html>
<html>
    <head>
        <title>
            Esb_Data Analysis webpage.
        </title>
        <link rel="stylesheet" href="styles.css" />
        
    </head>
    <body background="static/b3.jpg">

        <p>Hi Paul</p>

        <h1>Welcome to the Esb_Data Analysis webpage</h1>
        <p>Visualisation 1</p>
         <h2> click <a href="static/v_1.png" > Here > </a> to see Number of Esb Connections by month for each year </h2>
        <p>Visualisation 2</p>
        <h2> click <a href="static/v_2.png" > Here > </a> to see Esb connections for all place </h2>
        <p>Visualisation 3</p>
        <h2> click <a href="static/v_3.png" > Here > </a> to see Esb connection progress yearwise for all place </h2>
        <p>Visualisation 4</p>
        <h2> click <a href="static/v_4.png" > Here > </a> to see Esb connection for Carlow. </h2>
        <p>Visualisation 5</p>
        <p>...</p>
        <h2> click <a href="static/v_5.png" > Here > </a> to see Comparison of total connections between cities and counties. </h2>

        <h2>Click the below link to view dynamic visualisation</h2>
        

        <h2> click <a href="/dynamic_page1">here</a>.</h2>
        <p>Thanks!</p>
        <br>
        
    </body>
</html>
